*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
    height: 100%;
}

.container{
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    height: 70px;
    background-color: skyblue;
    padding: 0 2%;
}

.logo{
    color: white;
    font-size: 25px;
}

nav ul{
    list-style-type: none;
}

nav li{
    display: inline-block;
    margin: 0 15px;
}

nav a{
    text-decoration: none;
    color: white;
}